.card {
    max-width: 600px;
    width: 100%;
    padding: 50px;
    background-color:rgb(40, 55, 112);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .card {
        max-width: 80%;
        padding: 20px;
    }
} 
  

.selectForm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.textAreaForm, .nameForm {
    margin: 0 auto;
    min-width: 100%;
}

.buttons {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

button {
    background-color:white

}

button:disabled {
    background-color: gray;
}