<div *ngIf="task" style="min-width: 500px"> 
  <h1 mat-dialog-title>{{task.name}} ({{task.status}})</h1>
  <div mat-dialog-content>
    <div>ID: {{task.id}}</div>
    <div>Created by: {{task.createdUser.username}}</div>
    <div>
      <mat-form-field class="selectForm">
        <mat-label>Assigned User</mat-label>
        <mat-select [(value)]="task.assignedUser" placeholder="{{task.assignedUser.username}}">
          <!---here use ngfor whenever we can get all the users---->
          <div *ngFor="let user of users">
            <mat-option value="{{user}}">{{user.username}}</mat-option>
          </div>
          
        </mat-select>
      </mat-form-field>
      <mat-form-field class="selectForm">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="task.category" placeholder="{{task.category}}">
          <!---here use ngfor whenever we can get all the categories---->
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="textAreaForm">
      <mat-label >Description</mat-label>
      <textarea matInput [(ngModel)]="task.description" rows="4"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="task">Save</button>
  </div>
</div>