<h2>All Tasks</h2>
<div class="todos">
    <div class="top">
        <h2> Open Tasks</h2>
        <h2> In-Progress-Tasks</h2>
        <h2> Closed Tasks</h2>
    </div>
        <div class="bottom">
        <div class="open">
            <div *ngFor="let task of openTasks">
                <app-task-detail [task]="task"></app-task-detail>
            </div>
        </div>
        <div class="in-progress">
            <div *ngFor="let task of inProgressTasks">
                <app-task-detail [task]="task"></app-task-detail>
            </div>
        </div>
        <div class="done">
            <div *ngFor="let task of doneTasks">
                <app-task-detail [task]="task"></app-task-detail>
            </div>
        </div>
    </div>
</div>