.task-card {
    min-width: 500px;
    cursor: pointer;
    margin: 10px;
  }
.checkBox {
    color: green;
    justify-content: start;
}
@media only screen and (max-width: 600px) {
  .task-card {
      min-width: 90%;
      padding: 20px;
  }
} 