<mat-card class="task-card" *ngIf="task" (click)="openDialog(task)">
    <mat-card-header >
      <mat-card-title>Task name: {{task.name}}</mat-card-title>
      <mat-card-subtitle>ID: {{task.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Assigned User: {{task.assignedUser.username}}</p>
        <p>Category: {{task.category}}</p>
    </mat-card-content>
  <div>
    <mat-card-actions style="justify-content: flex-end;">
      <div class="checkBox">
          <button mat-icon-button title="Mark as Done">
              <mat-icon>done</mat-icon>
          </button>
      </div>
      <div class="taskManipulation">
          <app-delete-task-button [task]="task"></app-delete-task-button>
      </div>
    </mat-card-actions>
  </div>
</mat-card>

<router-outlet></router-outlet>
