<div> 
    <h1 mat-dialog-title style="font-family: 'Roboto Slab', serif; font-size:x-large; padding-bottom: 20px;">New Task</h1>
        <form [formGroup]="taskForm" mat-dialog-content (ngSubmit)="addTask()">

            <div>
                <mat-form-field class="nameForm">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName = "name">
                    <mat-error *ngIf="name.touched && name.hasError('required')">Name is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="selectForm">
                    <mat-label>Category</mat-label>
                    <mat-select matInput formControlName="category">
                    <mat-option *ngFor="let c of taskCategory | keyvalue" [value]="c.value">{{c.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="category.touched && category.hasError('required')">Category is required</mat-error>

                </mat-form-field>
                <mat-form-field class="selectForm">
                    <mat-label>Assignee</mat-label>
                    <mat-select matInput formControlName="assignedUser">
                        <mat-option *ngFor="let user of users" [value]="user.username">{{user.username}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="assignedUser.touched && assignedUser.hasError('required')">AssignedUser is required</mat-error>

                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="textAreaForm">
                    <mat-label >Description</mat-label>
                    <textarea matInput formControlName="description" rows="4"></textarea>

                </mat-form-field>
            </div>
            <button mat-flat-button color="primary">Submit</button>
        </form>
</div> 