.card {
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
    background-color:rgb(40, 55, 112);
}

.header {
    display: flex;
    font-size: larger;
    justify-content: center;
    color: white;
}

.attributes {
    display: grid;
    color: white;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 40px;
}
  
.attributes > div:last-child {
    margin-right: 10px;
    text-align: right;
}

.scrollableUsers {
    max-width: 100%;
    overflow-y: auto;

}
@media only screen and (max-width: 1500px) {
    .scrollableUsers{
      max-width: 100%; 
    }
}

  