.card {
    width: 800px;
    padding: 50px;
    cursor: pointer;
    margin: 0 auto;
    background-color: rgb(186, 241, 241);
    display: flex;
    justify-content: center;
}

.selectForm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;    
}

.textAreaForm, .nameForm {
    margin: 0 auto;
    min-width: 668px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
